Lab 4 multivate

In [1]:
# importing libraries
import numpy as np

import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

### Loading the diabetes dataset using sklearn

In [2]:
from sklearn import datasets
diabetes_X, diabetes_y = datasets.load_diabetes(return_X_y=True)

In [3]:
#checking data
##IMPORTING THE DATA
diabetes_X, diabetes_y = datasets.load_diabetes(return_X_y=True)
print("Size of X :",diabetes_X.shape, "\nSize of y :",diabetes_y.shape)

Size of X : (442, 10)
Size of y : (442,)

In [7]:
# adding column name to data

X = pd.DataFrame(diabetes_X)
diabetes_X.columns =['age','sex','bmi','average_blood_pressure','s1','s2','s3','s4','s5','s6']

y = pd.DataFrame(diabetes_y)
diabetes_y.columns = ["disease_progression_yearly"]

In [28]:
X.size

4420

In [27]:
y.size

442

In [10]:
# #diabetes_X['sex']= diabetes_X['sex'].apply(lambda x :'Male' if x< 0 else x)
# diabetes_X['sex']= diabetes_X['sex'].apply(lambda x :'FeMale' if x> 0 else x)

# diabetes_X

In [11]:
# checking if there null value
X.isnull().sum()

age                       0
sex                       0
bmi                       0
average_blood_pressure    0
s1                        0
s2                        0
s3                        0
s4                        0
s5                        0
s6                        0
dtype: int64

In [12]:
y.isnull().sum()

disease_progression_yearly    0
dtype: int64

### Splitiing the data set into train, validate and test size

In [13]:
X_main, X_test, y_main, y_test = train_test_split(X,y,test_size=0.15, random_state= 2)
X_trian, X_val, y_train, y_val = train_test_split(X,y,test_size=0.15, random_state= 2)

In [16]:
X_main

,age,sex,bmi,average_blood_pressure,s1,s2,s3,s4,s5,s6
285,0.012648,-0.044642,-0.020218,-0.015999,0.012191,0.021233,-0.076536,0.108111,0.059879,-0.021788
69,0.016281,-0.044642,-0.046085,-0.005670,-0.075870,-0.061438,-0.013948,-0.039493,-0.051404,0.019633
157,-0.001882,0.050680,-0.033151,-0.018306,0.031454,0.042840,-0.013948,0.019917,0.010227,0.027917
327,0.074401,-0.044642,0.114509,0.028758,0.024574,0.024991,0.019187,-0.002592,-0.000612,-0.005220
310,-0.005515,-0.044642,0.064930,0.035644,-0.001569,0.014970,-0.013948,0.000729,-0.018114,0.032059
...,...,...,...,...,...,...,...,...,...,...
299,0.038076,0.050680,-0.013751,-0.015999,-0.035968,-0.021982,-0.013948,-0.002592,-0.025953,-0.001078
22,-0.085430,-0.044642,-0.004050,-0.009113,-0.002945,0.007767,0.022869,-0.039493,-0.061176,-0.013504
72,0.063504,0.050680,-0.004050,-0.012556,0.103003,0.048790,0.056003,-0.002592,0.084492,-0.017646
15,-0.052738,0.050680,-0.018062,0.080401,0.089244,0.107662,-0.039719,0.108111,0.036060,-0.042499
168,0.001751,0.050680,0.059541,-0.002228,0.061725,0.063195,-0.058127,0.108111,0.068986,0.127328

In [18]:
X_val

,age,sex,bmi,average_blood_pressure,s1,s2,s3,s4,s5,s6
212,0.067136,-0.044642,0.003494,0.035644,0.049341,0.031254,0.070730,-0.039493,-0.000612,0.019633
422,-0.078165,0.050680,0.077863,0.052858,0.078236,0.064447,0.026550,-0.002592,0.040673,-0.009362
67,0.041708,0.050680,-0.014828,-0.017135,-0.005697,0.008394,-0.013948,-0.001854,-0.011897,0.003064
89,-0.045472,-0.044642,-0.048241,-0.019442,-0.000193,-0.016032,0.067048,-0.039493,-0.024795,0.019633
390,0.009016,0.050680,0.069241,0.059744,0.017694,-0.023234,-0.047082,0.034309,0.103297,0.073480
...,...,...,...,...,...,...,...,...,...,...
178,0.041708,-0.044642,-0.008362,-0.026328,0.024574,0.016222,0.070730,-0.039493,-0.048359,-0.030072
159,-0.005515,-0.044642,0.043373,0.087287,0.013567,0.007141,-0.013948,-0.002592,0.042341,-0.017646
66,-0.009147,0.050680,-0.018062,-0.033213,-0.020832,0.012152,-0.072854,0.071210,0.000272,0.019633
7,0.063504,0.050680,-0.001895,0.066629,0.090620,0.108914,0.022869,0.017703,-0.035816,0.003064
174,0.016281,0.050680,0.009961,-0.043542,-0.096510,-0.094632,-0.039719,-0.039493,0.017036,0.007207

In [26]:
y_test.size

67